{% extends "base.html" %}
{% load static %}  <!-- Load the static files -->
{% block content %}

<div class="container m-4">
  <div class="row justify-content-center align-items-center">
    <!-- Left column for the text -->
    <div class="col-12 col-md-6 mb-3 mb-md-0">
      <p class="p-4">Discover Your Dream Car Today! Explore our wide selection of top-quality vehicles designed to fit every lifestyle and budget. Whether you’re looking for a sleek sedan, a spacious SUV, or a powerful truck, we have the perfect car for you. Our team of experts is here to assist you in finding the right vehicle, ensuring a seamless buying experience. Enjoy competitive pricing, flexible financing options, and exceptional customer service. Visit us today to test drive your favorite models and experience the thrill of driving your dream car. Don't wait—your perfect ride awaits! Drive into a new adventure with us!</p>
    </div>

    <!-- Right column for the image -->
    <div class="col-12 col-md-6 text-center">
      <img src="{% static 'image/banner-2.jpg' %}" alt="Banner" class="img-fluid rounded">
    </div>
  </div>
</div>

{% endblock content %}
